h1 {
  font-family: "Andada Pro", serif;
  font-size: 200px;
}
html {
  font-family: "Scheherazade New", serif;
}
header p {
  font-size: 20px;
}
aside p{
  font-size: 14px;
}
header h1{
  font-size: 50px;
  text-align: center;
}

header,article{
  width: 600px;
  margin: 0 auto;
}
