h1{
  font-family: "Andada Pro", serif;
  
}
html {
  font-family: "Scheherazade New", serif;
}
header p {
  font-size: 20px;
}
aside p{
  font-size: 14px;
}
header h1{
  font-size: 50px;
  text-align: center;
}

header,article{
  width: 600px;
  margin: 0 auto;
}
article p{
color: gray;
}
h1 p{
  text-decoration-line: black ;
}
li{
  list-style-type:circle; 
}
a[title]{
  color: darkred;
}
a[href="index.html"]{
  font-weight: bold;
  font-size: 100px;
}
a[href="#"]{
  color: green;
}
a[href$="le"]{
  font-style: italic;
  font-size: 100px;
}
a[href*="www.google.com"]{
font-size: 100px;
}
a[href*="example"]{
  font-size: 100px;
}